<div class="app-content">
    <div class="top-nav-bar">
        <div class="welcome">SENTHIL SEA FOODS</div>
        <div class="nav-links">
            <div class="nav-link" (click)="scrollToContent()">Home</div>
            <div class="nav-link">About</div>
            <div class="nav-link">Contact Us</div>
        </div>
    </div>
    <div id="content">
        <div id="home-section">
            <!-- <div class="logo-with-name">
                <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBPEvzSLHKMrfg9zhSn32dLjeJsP6QgMTM8A&s">
            </div> -->
            <div class="tagline">
                <div>Enjoy fresh sea food</div>
                <div>from</div>
                <div>Indian Ocean</div>
            </div>
            <div class="tagline-separator"></div>
            <div class="tagline">
                <div>Delivered</div>
                <div>in</div>
                <div>29 minutes</div>
            </div>
            <div class="tagline-separator"></div>
            <div class="tagline">
                <div>100+</div>
                <div>Happy</div>
                <div>Customers</div>
            </div>
        </div>
        <div id="stocks-available">
            <h2>Stocks available</h2>
            <!-- <div class="stocks-available-title">
                Stocks available
            </div> -->
            <fishApp-item></fishApp-item>
        </div>
        <div id="about-section"></div>
        <div id="contact-section"></div>
        
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
        
</div>
